header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: blue;
}

* {
    background-color: whitesmoke;
}

.link {
    color: black;
}

p {
    color: black;
    display: block;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.image-container img {
    margin: 10px;
}
