h1 {
    color: blue;
}

* {
    border: .5px solid black;
}

* {
    background-color: whitesmoke;
}

.links1 {
    color: gray;
}

.links2 {
    color: gray;
}

p {
    color: black;
    display: block;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.image-container img {
    margin: 10px;
}
